<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{ title }} SHUATS STUDENTS | aLL INFORMATIONS ARE SAFE</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<style>
  .container-fluid {
    background: url(./static/images/SHUATS-banner.jpg) center center/cover no-repeat;
    width: 100%;
    height: 230px;
  }
</style>

<body>
  <div class="container-fluid my-0 py-10 d-flex justify-content-evenly align-items-center">
    <!-- <img class="mb-4 banner" src="./img/SHUATS-banner.jpg"> -->
    <!-- <h1 class="text-center text-primary">SHUATS <span class="text-warning">Database</span></h1> -->
  </div>
  <div class="container p-3">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="px-4 py-3 my-1 text-center border shadow rounded">
        <img class="mb-4" src="./static/images/SHIATS_LOGO.png" alt="" width="72" height="72">
        <h3 class="center">Database Login</h3>
        <form method="post" action="/login">
          {% csrf_token %}
          <input name="username" id="username" type="text" placeholder="username" class="form-control my-2">
          <input name="password" id="password" type="password" placeholder="password" class="form-control my-3">

          {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
        <!-- Dismissible Alert -->
        <div class="alert alert-warning  fade show" role="alert">
          {{ message }}
             <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button> 
          </button>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}


          <button class="btn btn-primary" type="submit">Login</button>

        </form>
        <br>
      </div>
      
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>